<%= form_with(model: shipment, local: true) do |form| %>
  <% if shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sender_address %>
    <%= form.text_area :sender_address %>
  </div>

  <div class="field">
    <%= form.label :scheduled_shipped_on %>
    <%= form.text_field :scheduled_shipped_on %>
  </div>

  <div class="field">
    <%= form.label :preferred_delivery_on %>
    <%= form.datetime_select :preferred_delivery_on %>
  </div>

  <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
