<!DOCTYPE html>
<html>
  <head>
    <title>CartApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar bg-dark">
    <a href="#" class="navbar-brand">Navbar</a>
    <%= link_to "カートに", "/carts/#{current_cart.id}"%>
  </nav>
    <%= yield %>
  </body>
</html>
